@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* kidsdetail */
.rotate {
   transition: 0.4s linear;
}
.rotate:hover{
   transform: rotate3d(0, 1, 0, 20deg);
   
}

/* navbar */


